<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrow Book - Hệ thống quản lý thư viện</title>
</head>

<body style="margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #f4f4f4;">
    <header style="background-color: #0275d8; color: white; padding: 20px; text-align: center;">
        <h1 style="margin: 0;">Hệ thống quản lý thư viện</h1>
        {{#if username}}
        <p>Welcome, {{username}}! <a href="/logout"
                style="color: white; background-color: #ff4136; padding: 5px 10px; text-decoration: none; border-radius: 5px;">Log
                Out</a></p>
        {{else}}
        <p><a href="/login" style="color: white;">Login</a></p>
        {{/if}}
    </header>
    <nav style="background-color: #f8f9fa; padding: 10px; text-align: center;">
        <a href="#" style="margin-right: 15px; text-decoration: none; color: #0275d8;">Home</a>
        <a href="#" style="margin-right: 15px; text-decoration: none; color: #0275d8;">About</a>
        <a href="#" style="text-decoration: none; color: #0275d8;">Contact</a>
    </nav>
    <main style="padding: 20px;">
        <section>
            <h2>Borrow a Book</h2>
            <form action="/borrow" method="POST" style="max-width: 500px; margin: auto;">
                <label for="bookIsbn" style="display: block; margin-bottom: 5px;">Book isbn:</label>
                <input value={{isbn}} type="text" id="isbn" name="isbn" required  readonly style="width: 100%; padding: 8px; margin-bottom: 20px;">

                <label for="userId" style="display: block; margin-bottom: 5px;">User email:</label>
                <input type="text" id="email" name="email" required style="width: 100%; padding: 8px; margin-bottom: 20px;">

                <button type="submit" style="padding: 10px 15px; background-color: #0275d8; color: white; border: none; cursor: pointer;">Borrow Book</button>
            </form>
        </section>
    </main>
    <footer
        style="background-color: #0275d8; color: white; text-align: center; padding: 10px; position: fixed; bottom: 0; width: 100%;">
        <p>&copy; 2024 Library Management System</p>
    </footer>
</body>

</html>